<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid mt">

    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
          <a class="navbar-brand logo" href="#">Sudarhan G</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto this">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutid">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#serviceid">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#findusid">Find Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactid">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </div>


  {{!-- Hero section --}}
  <div class="container-fluid mt-5">

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p>We Are The Team Of <span class="bold-style">Professional Developers</span></p>
            <button type="button" class="btn btn-style btn-primary">Read Me</button>
          </div>
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="images/growth.svg" alt="">
            </figure>
          </div>
        </div>

      </div>
    </div>

  </div>


  {{!-- About Us --}}
  <div class="container-fluid mt-5 about-style" id="aboutid">

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow Your Business With Us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="images/about.svg" alt="">
            </figure>
          </div>

          <div class="col-md-6 col-12 hero-text  d-flex justify-content align-items-start flex-column">
            <h1>WE ARE THE PROFESSIONAL DEVELOPERS 😎</h1>
            <p>Lorem ipsum dolor sit amet, <span class="bold-style">Sudarshan G</span> consectetur adipisicing elit.
              Molestiae, reprehenderit eius mollitia
              temporibus, id eum consectetur eaque quam reiciendis quod voluptatum iste voluptas ipsa necessitatibus!
              Harum ut facilis laudantium expedita consequatur id.</p>
            <button type="button" class="btn btn-style btn-primary">Read Me</button>
          </div>

        </div>

      </div>
    </div>

  </div>


  {{!-- Our Services --}}

  <div class="container-fluid mt-5 about-style" id="serviceid">

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Our Services</h1>
        <p class="text-center sub-heading">Grow Your Business With Us</p>
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="our-services settings ">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                  <h4>Settings</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vero ab non reiciendis quasi,
                    assumenda fugiat odit neque earum laudantium laborum voluptatum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services speedup ">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                  <h4>Settings</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vero ab non reiciendis quasi,
                    assumenda fugiat odit neque earum laudantium laborum voluptatum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services privacy ">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                  <h4>Settings</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vero ab non reiciendis quasi,
                    assumenda fugiat odit neque earum laudantium laborum voluptatum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services backups ">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                  <h4>Settings</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vero ab non reiciendis quasi,
                    assumenda fugiat odit neque earum laudantium laborum voluptatum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services ssl ">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                  <h4>Settings</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vero ab non reiciendis quasi,
                    assumenda fugiat odit neque earum laudantium laborum voluptatum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 speedup:hover">
            <div class="box">
              <div class="our-services database ">
                <div class="icon">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                  <h4>Settings</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vero ab non reiciendis quasi,
                    assumenda fugiat odit neque earum laudantium laborum voluptatum.</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

  {{!-- Map --}}

  <div class="container-fluid mt-5 about-style" id="findusid">

    <div class="row">
      <div class="col-md-10 col-12 mx-auto" style="width: 100%;">
        <h1 class="text-center main-heading">Find Us</h1>
        <p class="text-center sub-heading">Grow Your Business With Us</p>
        

          <section><iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7560.38391990689!2d73.75597409211274!3d18.655380045030064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9e373408279%3A0xd48083d76e095422!2sSector%20No.%2026%2C%20Pradhikaran%2C%20Nigdi%2C%20Pimpri-Chinchwad%2C%20Maharashtra%20411044!5e0!3m2!1sen!2sin!4v1695275296729!5m2!1sen!2sin"
              width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe></section>

        
      </div>

      {{!-- contct form --}}

      <div class="container-fluid mt-5 about-style" id="contactid">

        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">Grow Your Business With Us</p>
            <div class="row">
              <form action="/contact" method="POST">

                <div class="form-group">
                  <label for="exampleInputEmail1">Your Name</label>
                  <input type="text" class="form-control mb-7" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control mb-7" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mobile Number</label>
                  <input type="phone" class="form-control" id="exampleInputPassword1"
                    placeholder="Enter Your Phone Number" name="phone">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Message</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Message" name="message">
                </div>
                {{!-- <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> --}}
                <button type="submit" class="btn btn-style btn-primary mt-4 mx-auto d-block">Submit</button>

              </form>

            </div>
          </div>

        </div>

        <script src="../jq/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
</body>

</html>